a {
	text-decoration: none;
	color: white;
}

ul,li {
	list-style: none;
}

.nav-bar {
	display: flex;
	z-index: 999;
	width: 100%;
	line-height: 32px;
	justify-content: space-between;
	align-items: center;
	padding: 16px 32px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
	background: linear-gradient(90deg, #000 0%, hsla(197, 100%, 64%, 1) 100%);
}


.nav-bar .logo {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}

.nav-bar .nav-items {
	display: flex;
}

.nav-bar .nav-items .nav-item {
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}

.nav-items .nav-item:hover {
	filter: invert(50%);
}


.active {
	border-bottom: 2px solid hsla(197, 100%, 64%, 1);
}