* {
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


.btn {
	width: 150px;
	padding: 16px 32px;
	background: none;
	border: none;
	background: lightblue;
	border-radius: 10px;
	font-size: 18px;
	outline: none;
	text-transform: capitalize;
	text-align: center;
	margin-top: 30px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
}

.btn:hover {
	cursor: pointer;
	opacity: .7;
}

.main-container {
	width: 100%;
	position: relative;
	align-items: center;
}

::placeholder {
	font-size: 0.7rem;
	letter-spacing: 1.2px;
	text-transform: capitalize;
}

.main-container .form-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main-container .form-container form {
	display: flex;
	justify-items: center;
	flex-direction: column;
/*	padding: 32px;*/
	width: 50%;
}

.form-container form label {
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
}

.form-container .alert-box {
	position: relative;
	padding: 16px;
	border-radius: 10px;
	color: white;
	background-color: #FF5252;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	width: 30%;
}

.form-container .alert-box a {
	color: blueviolet;
	text-decoration: underline;
}

.form-container form input {
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
	font-size: 18px;
	padding: 5px 0;
}

.new-user,
.already-user {
	color: blueviolet;
	text-transform: uppercase;
}


/*dashboard sytles*/
.main-user-container {
	position: relative;
	max-width: 100%;
	padding: 3rem 12rem;
}

.main-user-container .user-info-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2rem;
	height: auto;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
}

.user-info-container .user-info {
	max-width: 100%;
}

.user-info-container .user-info h3 {
	padding-bottom: 1rem;
	font-size: 1.5rem;
	text-decoration: underline;
	letter-spacing: 2px;
}

.user-info-container .user-info li {
	padding-bottom: 1rem;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 1.5px;
}

.user-info-container .user-info li span {
	font-size: 0.8rem;
	font-weight: 400;
	margin-left: 1rem;
	text-align: center;
}

.user-info-container .user-btn {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
}

.info-btn {
	box-shadow: none;
	padding: 8px 16px;
	border-radius: 5px;
	margin-right: 5px;
	background-color: rgb(240, 240, 240);
	color: #000;
	font-size: 0.9rem;
	cursor: pointer;
} 

.info-btn:nth-child(2) {
	background-color: rgb(255, 99, 71);
	color: white;
}

.info-btn:nth-child(3) {
	background-color: lightblue;
}

.user-info-container .img-g {
	width: 150px;
	min-height: 100%;
	border-radius: 10px;
	background-position: center;
	object-fit: cover;
	background-size: contain;
}

.user-info-container .img-g img {
	max-width: 100%;
}

.user-info-container .alert-box {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: palevioletred;
	padding: 5px 12px;
	font-size: 1.4rem;
	margin: auto 0;
}

/*update user profile data*/
.update-user-info {
	position: relative;
	margin-top: 3rem;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
	border-radius: 10px;
}

.update-user-info h3 {
	text-align: center;
	padding: 8px 16px;
	letter-spacing: 2px;
	font-weight: 400;
	text-decoration: underline;
}

.hidden {
	display: none;
}

.hidden.reveal-content {
	display: block;
}

.update-user-info form {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
}

.update-user-info form label {
	font-size: 1rem;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 1.2px;
	margin-bottom: 0.5rem;
}

.update-user-info form input {
	padding: 8px 16px;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	font-weight: 400;
	outline-color: lightblue;
}

.update-user-info .info-btn {
	background-color: lightblue;
}

/*home page post display styles*/
.main-container .row,
.main-container .col {
	margin: 1rem 0.65rem;
	width: 100%;
}

.main-container .card-body {
	position: relative;
	display: flex;
	flex-flow: wrap row;
	gap: 1rem;
}

.card-body .card-content {
	display: flex;
	width: 430px;
	height: auto;
	padding: 1rem;
	height: 150px;
	border-left: 10px solid burlywood;
	border-radius: 0 10px 10px 0;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
}

.card-content .author-date {
	flex: 0 0 100px;
	padding-bottom: 0.3rem;
	align-self: center;
	margin-right: 0.8rem;
}

.card-content h2:hover {
	color: burlywood;
}

.card-content h2 {
	color: black;
	text-transform: capitalize;
	letter-spacing: 1px;
	padding-bottom: 0.8rem;
}

/*new post form styles*/

.form-container {
	padding: 5rem;
}

.form-container form {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	height: auto;
}

.form-container form fieldset {
	max-width: 100%;
	height: auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.form-container form fieldset legend {
	padding: .3rem;
	border: 1px solid black;
	font-weight: bold;
}

.form-container form fieldset label {
	text-transform: capitalize;
	margin-top: 0.6rem;
	letter-spacing: 1px;
	padding-bottom: 1rem;
	font-size: 0.8em;
}

.form-container form fieldset input {
	padding: 0.6rem;
	font-size: 1rem;
}


/*post page styles open singal post*/

.post_container {
	position: relative;
}

.post_container .post_header {
	max-width: 100%;
	background-color: #ffff00;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	padding: 3rem 6.25rem;
	text-align: center;
}

.post_header .post_title {
	color: white;
}

.post_header .post_title h1 {
	font-size: 5vw;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.post_header .post_title h4 {
	font-size: 1.5vw;
	text-transform: uppercase;
	padding-bottom: 1rem;
}

.post_header .post_title small {
	text-transform: capitalize;
	font-weight: normal;
	font-size: 0.9rem;
	color: #BBBBBB;
}

.post_header .social-share {
	padding: 2rem;
}

.post_header .social-share a {
	margin: 0.5rem;
	color: white;
	font-size: 1em;
	border: 1px solid white;
	line-height: 32px;
	width: 32px;
	height: 32px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}


.post_header {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: wheat;
	margin-bottom: 1rem;
	font-weight: bold;
}

/*post content container*/

.post_container .post_content {
	padding: 5rem;
}

.post_content p {
	text-justify: newspaper;
	font-size: 1.1rem;
	letter-spacing: 1px;
	font-family: monospace;
	line-height: 1.6;
	text-align: justify;
}

.post_content p::first-letter {
	font-size: 2.5vw;
}

